$accentColor =rgb(40,125,250)//默认主题颜色
$textColor = #444//默认字体颜色
$borderColor = #eaecef//默认边框颜色
$codeBgColor = rgb(47,47,47) //默认代码块背景颜色

body{
    background: rgb(234, 234, 239)!important;
    padding-top: 30px;
    min-height: 100vh;
}
button {
    outline: 0;
}
.page {
    padding-bottom: 0px;
}
#valine-vuepress-comment {
    margin: 0 auto;
    min-width: 300px;
    max-width: 760px;
    padding: 0 2rem;
    padding-top: 30px;
    background: rgba(135, 135, 135, .1);
}

th, td {
    border: 1px solid rgba(172, 172, 172, .5);
}
blockquote {
    color: rgb(112, 112, 112);
}

// 作为高亮字体
em {
    color: #ED4E05;
    font-style: normal;
    font-weight: bold;
}
a[data-fancybox] {
    cursor: zoom-in;
}
.myaboutBg {
    position: fixed;
    top: 0;
    left 0;
    filter: blur(50px);
    opacity 0.1;
}

img {
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  &.fancybox-image {
    padding: 5px;
    background-color: #fff;
  }
}